# Chapter 2. An Array of Sequences

In [1]:
symbols = '$¢£¥€¤'

## List Comprehensions and Readability

Example 2-1. Build a list of Unicode code points from a string

In [4]:
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

Example 2-2. Build a list of Unicode code points from a string, using a listcomp

In [6]:
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

## Listcomps Versus map and filter

Example 2-3. The same list built by a listcomp and a map/filter composition

In [9]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [10]:
beyond_ascii = list(filter(lambda c: c>127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

## Cartesian Products

Example 2-4. Cartesian product using a list comprehension

In [11]:
colors = ["black", "white"]
sizes = ["S","M","L"]

In [13]:
tshirts = [(color,size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [15]:
tshirts = [(color,size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

## Generator Expressions

Example 2-5. Initializing a tuple and an array from a generator expression

In [16]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [19]:
import array
array.array("l", (ord(symbol) for symbol in symbols))

array('l', [36, 162, 163, 165, 8364, 164])

Example 2-6. Cartesian product in a generator expression

In [21]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

## Tuples as Records

Example 2-7. Tuples used as records

In [28]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [("USA", "31195855"), ("BRA", "CE342567"),("ESP","XDA205856")]

In [29]:
for passport in sorted(traveler_ids): 
    print("%s/%s" % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [30]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

## Tuples as Immutable Lists

In [31]:
a = (10,"alpha", [1,2])
b = (10, "alpha", [1,2])
a == b

True

In [33]:
b[-1].append(99)
a == b

False

In [34]:
b

(10, 'alpha', [1, 2, 99, 99])

In [36]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

In [37]:
tf = (10,"alpha",(1,2))
tm = (10, "alpha", [1,2])

In [38]:
fixed(tf)

True

In [39]:
fixed(tm)

False

## Unpacking Sequences and Iterables

In [40]:
latitude, longitude = lax_coordinates

In [41]:
latitude

33.9425

In [42]:
longitude

-118.408056

In [44]:
b,a = a,b

In [45]:
divmod(20,8)

(2, 4)

In [47]:
t = (20,8)
divmod(*t)

(2, 4)

In [48]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

## Using * to Grab Excess Items

In [49]:
a,b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [52]:
a,b,*rest = range(3)
a,b,rest

(0, 1, [2])

In [54]:
a,b,*rest = range(2)
a,b,rest

(0, 1, [])

In [55]:
a,*body, c,d = range(5)
a,body,c,d

(0, [1, 2], 3, 4)

In [56]:
*head, b,c,d = range(5)
head,b,c,d

([0, 1], 2, 3, 4)

## Unpacking with * in Function Calls and Sequence Literals

In [58]:
def fun(a,b,c,d, *rest):
    return a,b,c,d,rest

In [59]:
fun(*[1,2],3,*range(4,7))

(1, 2, 3, 4, (5, 6))

In [63]:
*range(4),4

(0, 1, 2, 3, 4)

In [64]:
[*range(4),4]

[0, 1, 2, 3, 4]

In [65]:
{*range(4), 4, *(5,6,7)}

{0, 1, 2, 3, 4, 5, 6, 7}

## Nested Unpacking

Example 2-8. Unpacking nested tuples to access the longitude

In [67]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),  
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [78]:
print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for name, _,_, (lat,lon) in metro_areas:
    if lon <= 0:
        print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

## Pattern Matching with Sequences

Example 2-9. Method from an imaginary Robot class

In [80]:
def handle_command(self, message):
        match message:  
            case ['BEEPER', frequency, times]:  
                self.beep(times, frequency)
            case ['NECK', angle]:  
                self.rotate_neck(angle)
            case ['LED', ident, intensity]:  
                self.leds[ident].set_brightness(ident, intensity)
            case ['LED', ident, red, green, blue]:  
                self.leds[ident].set_color(ident, red, green, blue)
            case _:  
                raise InvalidCommand(message)

Example 2-10. Destructuring nested tuples—requires Python ≥ 3.10

In [83]:
print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for record in metro_areas:
    match record:  
        case [name, _, _, (lat, lon)] if lon <= 0:  
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358